<div class="global-container">
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">New releases</a></li>
      <li>
        <img src="../assets/Star.svg" alt="star-icon" class="nav-icon" /><a
          href="#"
          >This week</a
        >
      </li>
      <li>
        <img
          src="../assets/Calendar.svg"
          alt="calendar-icon"
          class="nav-icon"
        /><a href="#">This month</a>
      </li>
      <li>
        <img src="../assets/Clock.svg" alt="clock-icon" class="nav-icon" /><a
          href="#"
          >Coming soon</a
        >
      </li>
      <li><a href="#">Popular</a></li>
      <li>
        <img src="../assets/lupa.svg" alt="lupa-icon" class="nav-icon" /><a
          href="#"
          >Last searches</a
        >
      </li>
      <li>
        <img src="../assets/like.svg" alt="thumbs-up-icon" /><a href="#"
          >Best of the year</a
        >
      </li>
    </ul>
  </nav>
</div>
